<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="Python" />
      <add name="Python FastCGI" path="*.py" modules="FastCgiModule" resourceType="Unspecified" />
    </handlers>
    <fastCgi>
      <applicationPools>
        <add name="YourWebAppPool" managedRuntimeVersion="v4.0">
          <processModel workingDirectory="C:\Path\To\Your\App" enable32BitAppOnWin64="true" />
        </add>
      </applicationPools>
      <scriptProcessor>
        <fastCgiEnabled identifier="PythonFastCGI" scriptProcessor="C:\Python3x\Scripts\wfastcgi.py" />
      </scriptProcessor>
      <environmentVariables>
        <add name="FLASK_APP" value="app.py" />  <add name="FLASK_ENV" value="production" />  </environmentVariables>
    </fastCgi>
  </system.webServer>
  <system.webServer>
    <rewrite>
      <rules>
        </rules>
    </rewrite>
  </system.webServer>
</configuration>
